html,
body {
    height: 100%;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    background-color: #1e1e1e;
    min-width: 150px;
}
a {
    text-decoration: none;
}
input[type="tel"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#mainWrapper {
    height: 100%;
}
#portArea {
    margin: 0 0 10px 0;
    padding: 0 5px 0 0;
    height: 30px;
    border-bottom: 2px solid #ad0d0d;
}
#portArea #port {
    float: left;
    margin: 5px 0 0 5px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ad0d0d;
}
#portArea .connect {
    float: left;
    margin: 5px 0 0 5px;
    height: 18px;
    line-height: 18px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #f2ffff;
    text-align: center;
    border: 1px solid #ad0d0d;
    background-color: #ad0d0d;
}
#portArea .connect:hover {
    background-color: #d01414;
}
#navigation {
    float: right;
    margin: 5px 0 0 0;
}
#navigation li {
    margin: 0 0 0 5px;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    text-align: center;
    background-color: #830a0a;
}
#navigation li.unlocked:hover {
    cursor: pointer;
    background-color: #d01414;
}
#content {} #port {
    display: none;
}
a.button {
    margin: 0 0 0 5px;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 10px;
    text-align: center;
    background-color: #d01414;
    font-size: 12px;
    height: 20px;
    color: white;
}
a.button:hover {
    background-color: #d01414;
}
